body {
    background-color: rgb(24, 60, 28);
} 

/* img {
    align-center;
} */

#cookiecutter {
    margin-left: 550px;

}

#mainfish.align-center {
    display: block
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  } 
div{
    position: relative;
    top: -200px;
    /* left: 40px; */
    text-align: center;
    list-style-position: inside;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(187, 123, 19);
    
}



h1 {
   text-align: center;
   color: #777777;
    
}
h1{
border-style: solid;
border-color: rgb(187, 123, 19);

}
h1{
-moz-box-shadow: 5px 5px 5px 5px #777777;
-webkit-box-shadow: 5px 5px 5px 5px #777777;
box-shadow: 5px 5px 5px 5px #777777;
}

p {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
    #xmas {
    position: relative;
    top: 100px;
    }

h2 {
   margin-top: 140px;
   font-style: bold;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: large;
   color:rgb(187, 123, 19);
}

/* #color {
float-right:
} */


#grande {
   position: relative;
    top: -200px;
    left: 500px;
}

#color {
    position: relative;
    left: 450px;
    color:rgb(187, 123, 19)
}


 
 #cookiecutter {
   
    position: relative;
    right: 870px;
    bottom: 1212px;

 }

 #tshirt {
    
    position: relative;
    bottom: 975px;
    right: 875px;
 }

 #family{
   position: absolute;
     text-align:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color:rgb(187, 123, 19);
 }

 #fam {
   margin-bottom: 10px;
   
    }



 #retail {
position: relative;
right: 700px;
bottom: 870px;
font-style: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
color:rgb(187, 123, 19);
 }





 .topnav-right, a:link, a:visited {
    background-color: rgb(205, 227, 38);
    border: 2px #777777;
    text-align: center;
    font-size: large;
    
}

 .topnav-right, a:hover, a:active{
    background-color: rgb(205, 227, 38);
    color: #777777;
    border: 2px #777777;
   }



   
   #reviews {
    text-align: center;
    word-wrap: break-word;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(187, 123, 19);
   
    }
   
  
    

   